/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   GameResults.css                                    :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: npatron <npatron@student.42.fr>            +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2025/12/11 13:02:50 by npatron           #+#    #+#             */
/*   Updated: 2025/12/29 14:50:38 by npatron          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */
