/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   App.css                                            :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: npatron <npatron@student.42.fr>            +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2024/12/22 18:00:08 by npatron           #+#    #+#             */
/*   Updated: 2025/12/11 18:52:32 by npatron          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */


@font-face {
  font-family: 'ArcadeTest';
  src: url('./assets/Retrotype.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arcade';
  src: url('./assets/rocabe-trial-font/RocabetrialRegular-E4p78.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arcade2';
  src: url('./assets/arcade-2/Pacfont-ZEBZ.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arcade3';
  src: url('./assets/arcade-2/PacfontGood-yYye.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bold';
  src: url('./assets/boldFont/AmericanCaptain-MdEY.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#background-container {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 24px;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.content {
  color: #887a91;
  text-align: center;
}

.header {
  position: absolute;
  width: 80vh;
  height: 20vh;
  align-items: center;
  justify-content: center;
  display: flex;
  top: 0px;
  user-select: none;
}

.header-write {
  font-family: "Arcade", sans-serif;
  font-size: 80px;
  color: #C2E3DF;
  text-shadow: 
  -2px -2px 0 #000,
  2px -2px 0 #000, 
  -2px 2px 0 #000,
  2px 2px 0 #000; 
}


