/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   App.css                                            :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: npatron <npatron@student.42.fr>            +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2024/12/22 18:00:08 by npatron           #+#    #+#             */
/*   Updated: 2026/02/02 14:37:20 by npatron          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

@font-face {
    font-family: "ArcadeTest";
    src: url("./assets/Retrotype.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Arcade";
    src: url("./assets/rocabe-trial-font/RocabetrialRegular-E4p78.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Arcade2";
    src: url("./assets/arcade-2/Pacfont-ZEBZ.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Arcade3";
    src: url("./assets/arcade-2/PacfontGood-yYye.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bold";
    src: url("./assets/boldFont/AmericanCaptain-MdEY.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body,
html,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#background-container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 24px;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content {
    color: #887a91;
    text-align: center;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20vh;
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    z-index: 2;
}

.header-left {
    position: absolute;
    top: 24px;
    left: 24px;
    display: flex;
    align-items: center;
}

.header-write {
    font-family: "Arcade", sans-serif;
    font-size: 80px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.header-write span {
    display: inline-block;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000,
        0 0 8px currentColor,
        0 0 16px currentColor;
    transition: all 0.3s ease;
}

.header-write:hover span {
    transform: translateY(-2px);
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000,
        0 0 12px currentColor,
        0 0 24px currentColor,
        0 0 36px currentColor;
}
