services:
  db:
    container_name: postgresql
    build:
      context: ./hosting
      dockerfile: Dockerfile
    env_file:
      - ./hosting/.env
    networks:
      - app_network

  server:
    container_name: server
    build:
      context: ./server
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - db
    volumes:
      - ./server:/app
      - /app/node_modules
    networks:
      - app_network
    ports:
      - "8000:8000"
    env_file:
      - ./server/.env
  
  webapp:
    container_name: webapp
    build:
      context: ./webapp
      dockerfile: ./docker/Dockerfile
    restart: unless-stopped
    depends_on:
      - server
    volumes:
      - ./webapp:/app
      - /app/node_modules
    networks:
      - app_network
    ports:
      - "5173:5173"

  adminer:
    image: adminer
    container_name: adminer
    ports:
      - "8080:8080"
    networks:
      - app_network

networks:
  app_network:
    driver: bridge