services:
  db:
    container_name: postgresql
    image: postgres:15-alpine
    env_file:
      - .env
    networks:
      - app_network
    volumes:
      - postgres_data:/var/lib/postgresql/data

  server:
    container_name: server
    build:
      context: ./server
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - db
    volumes:
      - ./server:/app
      - /app/node_modules
    networks:
      - app_network
    ports:
      - "8000:8000"
    env_file:
      - .env
      - ./server/.env

  webapp:
    container_name: webapp
    build:
      context: ./webapp
      dockerfile: ./docker/Dockerfile
    restart: unless-stopped
    depends_on:
      - server
    volumes:
      - ./webapp:/app
      - /app/node_modules
    networks:
      - app_network
    ports:
      - "5173:5173"

  backoffice:
    container_name: backoffice
    build:
      context: ./backoffice
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - db
    volumes:
      - ./backoffice/data:/directus/data
    networks:
      - app_network
    ports:
      - "8055:8055"
    env_file:
      - ./backoffice/.env

  adminer:
    image: adminer
    container_name: adminer
    ports:
      - "8080:8080"
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  postgres_data: