/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   MatchHistory.css                                   :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: npatron <npatron@student.42.fr>            +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2026/01/19 14:36:37 by npatron           #+#    #+#             */
/*   Updated: 2026/01/19 14:36:38 by npatron          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */
