/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   SoloGameRoom.css                                   :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: npatron <npatron@student.42.fr>            +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2025/12/22 16:54:42 by npatron           #+#    #+#             */
/*   Updated: 2025/12/22 17:45:47 by npatron          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

.solo-game-room-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    gap: 16px;
    border-radius: 16px;
    height: 280px;
    width: 600px;
    color: #ECF0F1;
    border: 1px solid #403d39;
    box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
  }

.solo-game-room-difficulty-container select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    background-color: transparent;
    color: #fff;
    font-family: 'Arcade', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    
    padding: 16px 32px;
    width: 100%;
    max-width: 300px;
    
    border: 2px solid #403d39;
    border-radius: 12px;
    cursor: pointer;
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    transition: all 0.2s ease;
    
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23c8c8dd%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 0.65em auto;
}

.solo-game-room-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 200px;
    padding: 12px 18px;
    border-radius: 999px;
    border: 2px solid #c8c8dd;
    background: transparent;
    color: #c8c8dd;
    font-family: 'Arcade', sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: border-color 0.2s ease, color 0.2s ease;
}

.solo-game-room-button:hover {
    border-color: #FDD835;
}
