/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   SoloGameRoom.css                                   :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: npatron <npatron@student.42.fr>            +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2025/12/22 16:54:42 by npatron           #+#    #+#             */
/*   Updated: 2025/12/22 16:54:43 by npatron          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

