/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   Navbar.css                                         :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: npatron <npatron@student.42.fr>            +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2026/02/02 15:00:00 by npatron           #+#    #+#             */
/*   Updated: 2026/02/02 16:23:47 by npatron          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

.navbar-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20vh;
    padding: 24px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    z-index: 2;
}

.navbar-left {
    position: absolute;
    top: 24px;
    left: 24px;
    display: flex;
    align-items: center;
}

.navbar-title {
    font-family: "Arcade", sans-serif;
    font-size: 80px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar-title span {
    display: inline-block;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000,
        0 0 8px currentColor,
        0 0 16px currentColor;
    transition: all 0.3s ease;
}

.navbar-title:hover span {
    transform: translateY(-2px);
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000,
        0 0 12px currentColor,
        0 0 24px currentColor,
        0 0 36px currentColor;
}

.navbar-right {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

