/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   Profile.css                                        :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: npatron <npatron@student.42.fr>            +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2025/11/17 17:41:19 by npatron           #+#    #+#             */
/*   Updated: 2026/01/12 15:25:48 by npatron          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

.profile-container {
    position: absolute;
    top: 0px;
    right: 24px;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
    user-select: none;
}

.profile-icon-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #C2E3DF;
}

.profile-icon-circle svg {
    color: #061614;
}

.profile-name {
    font-family: "Arcade", sans-serif;
    font-size: 18px;
    color: #C2E3DF;
}

