/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   TetrisGame.css                                     :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: npatron <npatron@student.42.fr>            +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2025/12/11 13:02:53 by npatron           #+#    #+#             */
/*   Updated: 2025/12/11 13:02:54 by npatron          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

