/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   Login.css                                          :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: npatron <npatron@student.42.fr>            +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2024/12/22 18:37:12 by npatron           #+#    #+#             */
/*   Updated: 2025/01/13 16:15:10 by npatron          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

@font-face {
	font-family: 'Bold';
	src: url('../../assets/boldFont/AmericanCaptain-MdEY.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
  }

@font-face {
	font-family: 'Millimetre';
	src: url('../../assets/millimetre/Millimetre-Bold.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
  }

.registerForm {
	flex-direction: column;
	padding-bottom: 10px;
}

.nameInput {
	width: 10vw;
	height: 5vh;
}

.nameWrite {
	font-family: 'Millimetre';
	font-size: 15px;
	color: #f0ebd8;
	padding-left: 10px;
}

.nameWrite2{
	font-family: 'Millimetre';
	font-size: 15px;
	color: #f0ebd8;
}

.inputRegister {
	outline: none;
	width: 15vw;
	height: 6vh;
	border: 3px solid #641220;
	border-radius: 50px;
	background-color: #f0ebd8;
	font-family:'Millimetre';
	padding-left: 10px;
	color: #250902;
}

.nameWriteLoginRegister {
	
	padding-top: 10px;
	font-family: Bold;
	font-size: 30px;
	color: #f0ebd8;
	display: flex;
	align-items: center;
	justify-content: center;
}

.inputBloc {
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;	
	
}

.submitButton {
	outline: none;
	width: 5vw;
	height: 6vh;
	border-radius: 25px;
	background-color: #A11D33;
	border: 2px solid #4f0e19;
}

.positionButton {
	justify-content: center;
	align-items: center;
	display: flex;
	margin-top: 40px;
}

.myCadre {
    box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5); /* Noir semi-transparent */
    width: 25vw;
    height: 55vh;
    margin-left: 10px;
    margin-right: 10px;
	border-radius: 50px;
    overflow: hidden;
    border: solid 3px #161719;
}