/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   TetrisHome.css                                     :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: npatron <npatron@student.42.fr>            +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2024/12/24 15:29:59 by npatron           #+#    #+#             */
/*   Updated: 2025/01/13 22:23:39 by npatron          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

@font-face {
	font-family: 'Bold';
	src: url('../../assets/boldFont/AmericanCaptain-MdEY.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
  }
  
.tetris-grid
{
    left: 50%;
    top: 50%;
    margin-top: 6vh;
    transform: translate(-50%, -50%);
    display: flex;
    display: grid;
    grid-template-columns: repeat(10, 2.2vw);
    grid-template-rows: repeat(20, 3.8vh);
    background-color: #6e1423;
    padding: 5px;
    border: 3px solid #170d0e;
    z-index: 1;
    position: fixed;
}


.tetris-cell {
    width: 2.2vw;
    height: 3.8vh;
    background-color: #f8961e;
    border: 1px solid #85182a;
}

.buttonPlay {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100px;
    border-radius: 25px;
    background-color: #bd1f36;
    border: 4px solid #641220;
    z-index: 1;
}

.buttonPlay:hover {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100px;
    border-radius: 25px;
    background-color: #c71f37;
    border: 4px solid #641220;
    z-index: 1;
}

.writePlay {
    font-size: 40px;
    color: #f0ebd8;
    font-family: 'Bold';
}
