/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   TetrisHome.css                                     :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: npatron <npatron@student.42.fr>            +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2024/12/24 15:29:59 by npatron           #+#    #+#             */
/*   Updated: 2025/01/03 11:30:32 by npatron          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

@font-face {
	font-family: 'Bold';
	src: url('../../assets/boldFont/AmericanCaptain-MdEY.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
  }
  
.tetris-grid
{
    display: flex;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(10, 25px);
    grid-template-rows: repeat(20, 25px);
    gap: 1px; 
    background-color: #3C096C;
    padding: 5px;
    border: 3px solid #d6d5d6;
    z-index: 3;
}


.tetris-cell {
    width: 30px;
    height: 30px;
    background-color: #FF9E00;
    border: 1px solid #FF6D00;
}

.buttonPlay {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100px;
    border-radius: 25px;
    background-color: #5A189A;
    border: 4px solid #240046;
    z-index: 1;
}

.buttonPlay:hover {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100px;
    border-radius: 25px;
    background-color: #9D4EDD;
    border: 4px solid #240046;
    z-index: 1;
}

.writePlay {
    font-size: 40px;
    color: #d6d5d6;
    font-family: 'Bold';
}
