/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   Welcome.css                                        :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: npatron <npatron@student.42.fr>            +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2024/12/23 16:46:53 by fpalumbo          #+#    #+#             */
/*   Updated: 2025/01/03 11:31:12 by npatron          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

@font-face {
	font-family: 'Bold';
	src: url('../../assets/boldFont/AmericanCaptain-MdEY.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
  }

.welcomeMessage {
    
    position: fixed;
    width: 18vw;
    height: 10vh;
    top: 8vh;
    left: 8vw;
}

.welcomeWriting {

    font-family: 'Bold';
    color: #f0ebd8;
    font-size: 25px;
    padding-right: 10px;
}

.nameWriting {

    font-family: 'Bold';
    color: #e0aaff;
    font-size: 25px;
    padding-right: 10px;
    
}

.iconWelcome {

    font-family: 'Bold';
    color: #fbb1bd;
    font-size: 25px;
    padding-right: 10px;
    
}