/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   BackgroundAnimation.css                            :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: npatron <npatron@student.42.fr>            +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2025/12/09 11:57:38 by npatron           #+#    #+#             */
/*   Updated: 2026/02/02 13:28:10 by npatron          ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

.tetris-bg-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    pointer-events: none;
    background: radial-gradient(circle at top, rgba(20, 40, 60, 0.6) 0%, rgba(5, 5, 5, 0.9) 70%);
}

.floating-tetromino {
    position: absolute;
    top: -100px;
    will-change: transform;
}

@keyframes fall {
    0% {
        transform: translateY(-30vh) rotate(0deg);
    }
    10% {
    }
    90% {
    }
    100% {
        transform: translateY(120vh) rotate(360deg);
    }
}
