# Directus Configuration
KEY=replace-with-random-key
SECRET=replace-with-random-secret
DB_CLIENT=pg
DB_HOST=db
DB_PORT=5432
DB_DATABASE=red_tetris
DB_USER=postgres
DB_PASSWORD=postgres
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin
